.jumbotron {
    background-image: url("https://78.media.tumblr.com/29fd3903a022218e4433b7778de132a8/tumblr_nz682gqwbH1tb6on8o1_500.gif");
    background-color: none;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    }
.schedule {
  background-color: black;
  color: gold;
  transform:perspective(1000px) rotateX(45deg);
  text-align: center;
    }

body {
  background-color: black;
   color: gold;
    }

input {
  border: gold;
  background-color: black;
  color: gold;
}

a {
color: white;
}

.container {
    text-align: justify;
}
