{{#partial "content"}}

<h1>Event Item</h1>

{{#if events}}
    {{#each events}}
    <p>Current Post</p>
    <p>{{ content }} :  {{ description }} <a href="/events/{{id}}">Read more...</a></p>
    {{/each}}
{{else}}
<p>No scheduled event</p>
{{/if}}
{{/partial}}

{{> layout.hbs}}