{{#partial "content"}}
<div class="schedule">
<h1>Event Schedule</h1>
    <p>Welcome : Opening Remarks and Welcome</p>
    <p>RPG : Creating and Star Wars Role Playing Games.</p>
    <p>Text : Creating and Star Wars Text and Word based games.</p>

{{#if events}}
    {{#each events}}
<p><span class="eventTitle">ADDED EVENT: {{ content }}</span> :  {{ description }} <a href="/events/{{id}}">Read more...</a></p>

    {{/each}}
{{else}}
    <p>No scheduled event, Click <a href="/events/new" id="right">ADD EVENT</a> to add.</p>
</div>
{{/if}}
{{/partial}}

{{> layout.hbs}}