<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{#block "title"}}JAVA Hackathon{{/block}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/events">See all events</a></li>
        <li role="presentation"><a href="/events/new">Add event</a></li>
    </ul>
    <div class="jumbotron">
        <h1>Java Hackathon</h1>
    </div>
    <div class="container">
        <div class="page-header">

        </div>
        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}
        </div>
    </div>

{{#block "footer"}}
</body>
</html>
{{/block}}